name: Github Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      # https://github.com/actions/setup-go
      - uses: actions/setup-go@v4
        with:
          go-version: "1.22"

      - run: go test ./...

      - run: go build -ldflags "-s -w" -o gowebdav_linux_amd64 .
      - run: CGO_ENABLED=0 GOOS=windows GOARCH=amd64 go build -ldflags "-s -w" -o gowebdav_windows_amd64.exe .
      - run: CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -ldflags "-s -w" -o gowebdav_darwin_amd64 .

      - run: CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -ldflags "-s -w" -o gowebdav_linux_arm64 .
      - run: CGO_ENABLED=0 GOOS=windows GOARCH=arm64 go build -ldflags "-s -w" -o gowebdav_windows_arm64.exe .
      - run: CGO_ENABLED=0 GOOS=darwin GOARCH=arm64 go build -ldflags "-s -w" -o gowebdav_darwin_arm64 .

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            gowebdav_linux_amd64
            gowebdav_windows_amd64.exe
            gowebdav_darwin_amd64
            gowebdav_linux_arm64
            gowebdav_windows_arm64.exe
            gowebdav_darwin_arm64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}